.container {
    width: 1090px;
    padding: 0 15px;
    max-width: 100%;
    margin: 0 auto;
}

.btn {
    border: none;
    border-radius: 90px;
}

@media(max-width: 1100px) {
    .container {
    }
}