/*
font-family: 'Montserrat', sans-serif;

lg: 1200px
md: 992px
sm: 767px
xs: 576px

@media(max-width: 1200px) {

}

@media(max-width: 992px) {

}

@media(max-width: 767px) {

}

@media(max-width: 576px) {

}


*/

* {
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.59;
    color: #022748;
}

.container {
    width: 1060px;
    max-width: 100%;
    margin: 0 auto;
}

.btn {
    border: none;
    border-radius: 90px;
}